<legend class="text-center">
  <%= date.format( "MMMM Do YYYY") %>
</legend>
<% _.each(events, function( e ){ %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <%= e.boatName %>
      </div>
    </div>
    <div class="panel-body">
      <% if( e.avaliable.length === 0 ){ %>
        Nothing Avaliable
      <% }else{ %> 
        Avaliable Time Slots:</br>
        <ul>
          <% _.each( e.avaliable, function( a ){ %>  
            <li><%= a %></li>
          <% }); %>
        </ul>
      <% }; %>
    </div>
  </div>
<% }); %>
