<div class="vertiCalHeader text-center">
  <div class="month"><%= intervalStart.format("MMMM YYYY") %></div>
</div>
<div class="btn-group-vertical input-group-vertical vertiCalBtns clndr-scrollable">
  <div class="btn btn-default vertiCalControl clndr-previous-button">
    <div class="arrow-up"></div>
  </div> 
  <% _.each(days, function(day){ %>
    <div class='row btn btn-default <%= day.classes %>'>
      <div class="col-xs-6 text-right">
        <% if( !intervalStart.isSame( day.day, 'month' )){ %>
          <%= day.day.format("MMM") %>
        <% } %>
        <%= day.day.format("Do") %>
      </div>
      <div class="col-xs-6 text-left">
        <% if( day.avaliable ){ %>
          <div class="green-dot" title="Avaliable Time Slots"></div>
        <% }else{ %>
          <div class="red-dot" title="No time slots avaliable"></div>
        <% } %>
      </div>
    </div>
  <% }); %>
  <div class="btn btn-default vertiCalControl clndr-next-button">
    <div class="arrow-down"></div>
  </div>
</div>
<div id="vertiCalJumpToToday" class="btn btn-default btn-block clndr-today-button">
  Jump to Today
</div>
<div class="btn-block btn-group-vertical input-group-vertical">
  <input id="jumpToDateInput" class="form-control" type="date" placeholder="mm/dd/yyyy"/>
  <button id="jumpToDateSubmit" class="btn btn-default btn-block">Jump to Date</button>
</div>
